ALLOWED_ORIGINS="http://localhost:5173"
PORT="3000"
MONGO_URI="mongodb://localhost:27017/gapistan"
LIVEKIT_API_KEY="my-livekit-key" # your livekit server api key
LIVEKIT_API_SECRET="Secret@123" # your livekit server api secret
JWT_SECRET="gapistanIsGreat"
MY_EMAIL="someemail@example.com"
EMAIL_APP_PASS="your gmail pass key"